/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Main styles
   ========================================================================== */
* {
    box-sizing: border-box;
}
body {
    background: #f3f3f3;
    font-family: 'Josefin Slab', serif;
    overflow-x: hidden;
}
h1 {
    font-family: 'Meera Inimai', sans-serif;
    font-size: 3em;
}
h2 {
    font-family: 'Meera Inimai', sans-serif;
    font-size: 1.8em;
}
p {
    font-size: 1.3em;
}

/*
 * Home Page
 */
.topbar {
    display: none;
    justify-content: space-between;
    background: #FEFEFE;
    padding: 0.3em 1.5em 0.3em 1em;
    z-index: 2;
}
    .topbar_menuIcon {
        display: none;
        cursor: pointer;
        font-size: 2em;
    }
    .topbar_branding {
        float: right;
        font-size: 2em;
    }
.banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Meera Inimai', sans-serif;
    height: 50vh;
}
    .banner--home {
        background-image: url("../img/banner_photo_home.jpg");
    }
    .banner--wedding {
        background-image: url("../img/weddings/banner_photo_wedding.jpg");
    }
    .banner--family {
        background-image: url("../img/family/banner-family.jpg");
    }
    .banner--other {
        background-image: url("../img/other/banner-other.jpg");
    }
    /*.banner_title {
        display: inline-block;
        background: #fefefe;
        border-left: 1em solid #00b4cc;
        margin-top: 0;
        opacity: 0.9;
        padding: 0.25em 1em;
    }*/
    .banner_overlay {
        position: relative;
        color: #FEFEFE;
        height: 100%;
        width: 100%;
    }
        .banner_overlay h1 {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border: 0.1em solid #FEFEFE;
            border-radius: 4px;
            font-size: 3em;
            padding: 0 0.3em;
        }
            /*.banner_overlay h1 span {
                display: inline-block;
                background: #262626;
                height: 100%;
                padding: 0 0.3em;
            }*/
        .banner_overlay_bg {
            background: #262626;
            height: 100%;
            opacity: 0.5;
            width: 100%;
        }
        .banner_overlay_img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

.navigationBar {
    display: flex;
    background: #262626; 
    color: #FEFEFE;
    font-family: 'Meera Inimai', sans-serif;
    font-size: 1.3em;
    height: 2.7em;
    justify-content: space-around;
    top: 54px;
    z-index: 2
}
.navigationBar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
}
    .navigationBar_logo {
        display: inline-block;
        height: 100%;
    }
        .navigationBar_logo img {
            height: 100%;
        }
    .navigationBar_navLink {
        display: flex;
        position: relative;
        align-items: center;
        border-top: 8px solid #262626;
        border-bottom: 8px solid #262626;
        cursor: pointer;
        padding: 0 0.5em;
    }
        .navigationBar_navLink:hover {
            border-bottom: 8px solid #00B4CC;
        }
            .navigationBar_navLink--services:hover {
                border-bottom: 8px solid #262626;
            }
            .navigationBar_navLink:hover .navigationBar_dropdown {
                display: block;
            }
        .navigationBar_navLink a {
            display: block;
            color: #FEFEFE;
            text-decoration: none;
        }
    .navigationBar_dropdown {
        display: none;
        position: absolute;
        top: 48px;
        left: 0;
        background: #262626;
        border-top: 0.5em solid #00B4CC;
        list-style: none;
        margin: 0;
        padding: 0.5em 1.5em;
        z-index: 2;
    }
        .navigationBar_dropdown li {
            border-bottom: 0.25em solid #262626;
            padding-left: 0.5em;
            white-space: nowrap;
        }
            .navigationBar_dropdown li:hover {
                border-bottom-color: #00B4CC;
            }

.section {
    padding: 4em 8em;
}
    .section_title {
        position: relative;
        display: inline-block;
        background: #FEFEFE;
        border-left: 0.7em solid #00B4CC;
        border-radius: 2px;
        font-family: 'Meera Inimai', sans-serif;
        font-size: 2em;
        font-weight: normal;
        margin: 0 0 0.2em;
        padding: 0.3em 0.5em 0.2em;
    }
    .section_header {
        font-size: 2em;
    }
    .section_list {
        font-size: 1.5em;
        font-weight: bold;
        list-style: none;
    }
        .section_list li {
            line-height: 2;
        }
            .section_list li:before {
                content: "\f030";
                color: #262626;
                display: inline-block;
                font-family: FontAwesome;
                margin-right: 0.5em;
            }
    .section p {
        font-size: 1.5em;
    }

.miniGallery {
    background: #FEFEFE;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-fill: balance;
    -webkit-column-fill: balance;
    column-fill: balance;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
    padding: 3em 1em;
}
    .miniGallery_image {
        display: block;
        border-radius: 4px;
        margin: 0 0 2em;
        pointer-events: none;
        width: 100%
    }

.pricing {
    background: #FEFEFE;
    padding: 3em 1em;
}
    .pricing--wedding {
        padding: 3em;
    }
    .panel_wrapper {
        display: flex;
        align-items: stretch; 
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .panel {
        position: relative;
        flex: 0 1 23%;
        border-radius: 4px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
        .panel:hover {
            cursor: pointer;
        }
        .panel--wedding {
            flex: 0 1 30%;
        }
        .panel:hover .panel_overlay,
        .panel:hover .panel_category {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        .panel:hover .ctaBtn--panel {
            opacity: 1;
            right: 0;
        }
        .panel_overlay {
            position: absolute;
            top: 2.56em;
            left: 0;
            bottom: 0;
            right: 0;
            background: #262626;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            opacity: 0.4;
        }
        .panel_title {
            background: #262626;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            color: #FEFEFE;
            font-family: 'Meera Inimai', sans-serif;
            font-size: 1.3em;
            padding: 0.3em;
        }
        .panel_category {
            position: absolute;
            bottom: 1em;
            left: 50%;
            transform: translateX(-50%);
            border: 0.1em solid #FEFEFE;
            border-radius: 4px;
            color: #FEFEFE;
            font-family: 'Meera Inimai', sans-serif;
            font-size: 1.5em;
            font-weight: bold;
            padding: 0 0.3em;
        }
        .panel_image {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            width: 100%;
        }
        .panel_list {
            font-size: 1.2em;
            list-style: none;
            padding: 0 0.5em;
        }
            .panel_list li {
                line-height: 2;
                margin-top: 0.5rem;
                padding-left: 0.5em;
            }
            .panel_list li:before {
                content: "\f030";
                color: #262626;
                display: inline-block;
                font-family: FontAwesome;
                margin-right: 0.5em;
            }

.contact {
    display: flex;
    align-content: top;
    justify-content: space-between;
}
    .contact_form {
        position: relative;
        flex: 0 1 57%;
        background: #FEFEFE;
        border-radius: 2px;
        padding: 3em 4em 2em;
        width: 50%;
    }
        .contact_form_label {
            display: block;
            margin-bottom: 0.5em;
        }
        .contact_form_input {
            display: block;
            border: 4px solid #00B4CC;
            border-radius: 2px;
            margin-bottom: 1em;
            padding-left: 0.5em;
            width: 100%;
        }
        .contact_form_input--info {
            height: 2em;
        }
        .contact_form_input--message {
            max-height: 20em;
            min-height: 10em;
        }
        .contact_desc {
            flex: 0 1 40%;
        }

.footer {
    display: flex;
    align-items: center;
    background: #FEFEFE;
    justify-content: space-between;
    padding: 0.5em 1em;
}

.ctaBtn {
    background: #262626;
    border: none;
    border-color: #00B4CC;
    border-radius: 4px; 
    color: #FEFEFE;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.1rem;
    padding: 0.7em;
    text-decoration: none;
    transition: border-right 0.5s ease-in-out, border-left 0.5s ease-in-out;
}
    .ctaBtn:hover {
        border-right: 1em solid #00B4CC;
    }   
    .ctaBtn--about {
        margin-top: 1em;
    }
        .ctaBtn--about:hover {
            border-left: 1em solid #00B4CC;
            border-right: none;
        } 
    .ctaBtn--panel {
        position: absolute;
        bottom: 1em;
        right: -100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 1em;
        transition: opacity 0.5s ease-in-out, 
            right 0.5s ease-in-out, 
            border-right 0.5s ease-in-out, 
            border-left 0.5s ease-in-out;
    }
    .ctaBtn--contact {
        padding: 0.5em 1em;
        float: right;
    }
    .ctaBtn i[class^="fa fa-"] {
        margin-left: 0.5em;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.u-hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Medium Screen Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {
    .topbar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
        .topbar_menuIcon {
            display: inline-block;
        }
    
    .navigationBar {
        display: none;
        flex-flow: column;
        position: fixed;
        top: 2.5em;
        height: auto;
        margin: 0;
        width: 100%;
    }
        .navigationBar_logo {
            display: none;
        }
        .navigationBar_navLink {
            flex-wrap: wrap;
        }
            .navigationBar_navLink a {
                flex: 0 0 100%;
            }
            .navigationBar_dropdown {
                position: static;
                flex: 0 0 100%;
                margin-bottom: 0;
            }

    .section {
        margin-top: 0;
    }

    .miniGallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    .pricing {
        flex-wrap: wrap;
    }

    .panel {
        flex-basis: 49%;
        margin-top: 1em;
    }

    .contact {
        flex-wrap: wrap;
        justify-content: space-around;
    }
        .contact_form {
            flex-basis: 100%;
            margin-left: 0;
        }
        .contact_desc {
            flex-basis: 100%;
        }
}

/* ==========================================================================
   Small Screen Media Queries
   ========================================================================== */

@media only screen and (max-width: 720px) {
    body {
        font-size: 13px;
    }

    .banner--home {
        background-position: -228px center;
        margin-top: 47px;
    }
        .banner_overlay h1 {
            width: 70%;
        }

    .section {
        border-left-width: 3em;
        padding: 1em;
    }
        .section_title {
            font-size: 2em;
        }

    .miniGallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .pricing--wedding {
        padding: 3em 1em;
    }
    .panel {
        flex-basis: 100%;
        margin-top: 1em;
        max-height: 20rem;
    }

    .contact_form {
        padding: 1em;
    }
    .contact_desc {
        padding-left: 0;
        padding-right: 0;
    }

    .ctaBtn--about {
        float: none;
        font-size: 1.2em;
    }
    .ctaBtn--panel {
        font-size: 1.2em;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
